*{
    background-color: white;
    width:auto;
    height: auto;
}
.left{
    float: left;
    margin:20px;
}
.right{
    float: right;
    margin:20px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    width:95%;
    border:2px solid gray;
    border-radius: 12px;
}
img{
    height:250px;
    width: 250px;
}
details{
    padding:20px;
}
summary{color:orangered}